@model LibraryProject.ViewModels.CreateCustomerViewModel
<form asp-action="Create" asp-controller="Customers" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="@Model.Email"></label>
        <input asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password"></label>
        <input asp-for="@Model.Password" class="form-control" type="password" />
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Add new customer</button>
</form>